/* ==========================================
   Responsive Stylesheet (responsive.css)
========================================== */

@media (max-width: 767px) {
    nav.active {
        top: 75px;
        right: var(--size-m);
        left: var(--size-m);
    }

    #hero .hero-content h1 {
        font-size: 2rem;
    }

    .cta-buttons {
        flex-direction: column;
        width: 100%;
    }

    .btn {
        width: 100%;
        text-align: center;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    #contact form {
        padding: 20px 15px;
    }
}

@media (min-width: 768px) {
    #menu {
        display: none;
    }

    nav {
        position: static;
        background: transparent !important;
        border: none;
        backdrop-filter: none;
        padding: 0;
    }

    nav ul {
        flex-direction: row;
        gap: 25px;
    }

    nav ul li {
        width: auto;
    }

    header {
        max-width: 1100px;
        margin: 15px auto;
        right: 15px;
        left: 15px;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1024px) {
    #hero .hero-content h1 {
        font-size: 3.2rem;
    }

    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .skills-grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .section-container {
        padding: 80px 20px;
    }
    .hero-container {
        flex-direction: row-reverse;
        text-align: left;
    }
    .hero-content {
        align-items: flex-start;
    }
    .hero-image {
        width: 400px;
        height: 400px;
    }
}
